---
storage:
  trace:
    backend: s3
    s3:
      access_key: "admin"
      secret_key: "minio123"
      bucket: "tempo-traces"
      endpoint: "minio:9000"
      insecure: true

# MinIO storage configuration
# Note: MinIO should not be used for production environments. This is for demonstration purposes only.
minio:
  enabled: false
  mode: standalone
  rootUser: admin
  rootPassword: minio123
  buckets:
    # Default Tempo storage bucket
    - name: tempo-traces
      policy: none
      purge: false

# Specifies which trace protocols to accept by the gateway.
traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true
  zipkin:
    enabled: false
  jaeger:
    thriftHttp:
      enabled: false
  opencensus:
    enabled: false
