version: '3'
services:
  minio:
    container_name: minio
    image: quay.io/minio/minio:RELEASE.2025-03-12T18-04-18Z
    restart: always
    ports:
    - "9000:9000"
    - "9001:9001"
    volumes:
    - ./data:/data
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"

  createbuckets:
    image: quay.io/minio/mc
    depends_on:
      - minio
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set s3 http://minio:9000 admin minio123;
      /usr/bin/mc mb s3/mimir-metrics;
      /usr/bin/mc mb s3/tempo-traces;
      exit 0;
      "
---
