---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: minio
  name: minio
spec:
  ports:
  - name: minio-api
    port: 9000
    protocol: TCP
    targetPort: 9000
  - name: minio-dashboard
    port: 9001
    protocol: TCP
    targetPort: 9001
  selector:
    app: minio
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: minio
  name: minio
spec:
  serviceName: minio
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - image: quay.io/minio/minio:RELEASE.2025-03-12T18-04-18Z
        name: minio
        volumeMounts:
          - name: minio
            mountPath: /data
        env:
          - name: MINIO_ACCESS_KEY
            value: "admin"
          - name: MINIO_SECRET_KEY
            value: "minio123"
          - name: MINIO_CONSOLE_ADDRESS
            value: 0.0.0.0:9001
        args:
        - server
        - /data
  volumeClaimTemplates:
  - metadata:
      name: minio
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
      storageClassName: local-path
